.releases_board {
  font-family: "Abel", sans-serif;
  text-transform: uppercase;
  width: 970px;
}

.releases_board .column_headers {
  font-size: 24px;
  text-align: center;
  background: #8D8D8D; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BEBEBE', endColorstr='#8D8D8D'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#BEBEBE), to(#8D8D8D)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #BEBEBE,  #8D8D8D); /* for firefox 3.6+ */
  color: #FFFFFF;
}

.releases_board .project {
  background: #8D8D8D; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BEBEBE', endColorstr='#8D8D8D'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#BEBEBE), to(#8D8D8D)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #BEBEBE,  #8D8D8D); /* for firefox 3.6+ */
  color: #FFFFFF;
}

.releases_board .project ul {
  padding: 0px;
  margin: 0px;
}

.releases_board .column {
  height: 55px;
}

.releases_board .project_column {
  height: 85px;
  font-size: 20px;
  text-align: center;
  position: relative;
}

.releases_board .column_headers, .releases_board .project {
  list-style: none;
  width: 970px;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.releases_board .column-code, .releases_board .project .code {
  width: 70px;
  border-right: 1px solid white;
  float: left;
}

.releases_board .column-project, .releases_board .project .project {
  width: 250px;
  border-right: 1px solid white;
  float: left;
}

.releases_board .project .project {
  cursor: pointer;
}

.releases_board .column-countdown, .releases_board .project .countdown {
  width: 285px;
  border-right: 1px solid white;
  float: left;
}

.releases_board .column-duedate, .releases_board .project .duedate {
  width: 165px;
  border-right: 1px solid white;
  float: left;
}

.releases_board .column-status, .releases_board .project .status {
  width: 190px;
  float: left;
}

.releases_board .project .status {
  color: #4AFA93;
}

.releases_board .project .Delayed {
  color: #D44637;
}

.releases_board .flip-clock-wrapper ul {
  width: 25px;
  height: 45px;
  line-height: 42px;
  margin: 10px 2px 0 2px;
}

.releases_board .flip-clock-wrapper ul li a div div.inn {
  font-size: 35px;
  color: #000000;
  font-family: "Abel", sans-serif;
  background: #FFFFFF; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CCCCCC'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CCCCCC)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #FFFFFF,  #CCCCCC); /* for firefox 3.6+ */
}

.releases_board .flip-clock-divider {
  height: 45px;
  margin-top: 10px;
  width: 5px;
}

.releases_board .flip-clock-divider .flip-clock-label {
  right: -36px;
  color: #FFFFFF;
  font-family: "Abel", sans-serif;
}

.releases_board .flip-clock-divider.minutes .flip-clock-label {
  right: -42px;
  color: #FFFFFF;
  font-family: "Abel", sans-serif;
}

.releases_board .flip-clock-divider.seconds .flip-clock-label {
  right: -45px;
  color: #FFFFFF;
  font-family: "Abel", sans-serif;
}

.releases_board .flip-clock-dot {
  display: none;
}

.project_details {
  text-transform: none;
}

.project_details .employees {
  background: #8D8D8D; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BEBEBE', endColorstr='#8D8D8D'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#BEBEBE), to(#8D8D8D)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #BEBEBE,  #8D8D8D); /* for firefox 3.6+ */
  color: #FFFFFF;
  overflow: hidden;
  padding: 10px;
}

.project_details .employees .team_title {
  text-transform: uppercase;
  font-size: 24px;
}

.project_details .employees .employee {
  float: left;
  text-align: center;
  padding-right: 20px;
}

.project_details .employees .employee img {
  padding-botom: 10px;
}

.project_details .milestones {
  background: #8D8D8D; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BEBEBE', endColorstr='#8D8D8D'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#BEBEBE), to(#8D8D8D)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #BEBEBE,  #8D8D8D); /* for firefox 3.6+ */
  color: #FFFFFF;
  overflow: hidden;
  padding: 10px;
  position: relative;
}

.project_details .milestones .milestones_title {
  text-transform: uppercase;
  font-size: 24px;
}

.project_details .milestones .flight_path {
  width: 930px;
  height: 10px;
  background: #6B6B6B;
  margin-left: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.project_details .milestones .milestone_dot {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 138px;
}

.project_details .milestones .milestone_dot.done {
  background-image: url('../imgs/green_dot.png');
}

.project_details .milestones .milestone_dot.future {
  background-image: url('../imgs/gray_dot.png');
}

.project_details .milestones .milestone_dot.current {
  width: 124px;
  height: 101px;
  top: 101px;
  background-image: url('../imgs/plane.png');
}

.project_details .milestones .milestone_info {
  width: 450px;
}

.project_details .milestones .milestone_info .milestone_title {
  font-size: 30px;
  text-transform: uppercase;
  font-width: bold;
}

.project_details .milestones .milestone_info .milestone_desc {
  font-size: 20px;
  padding-bottom: 20px;
}